<div class="main">
  <div class="input">
    <input type="email" [(ngModel)]="url" />
    <button [disabled]="!url" (click)="add()" (keyup.enter)="add()">
      add url
    </button>
  </div>
  <button (click)="start()" [disabled]="!targets?.length">start</button>
  <div class="target-list" *ngFor="let target of targets">
    <span class="link">{{ target }}</span>
    <span class="delete" (click)="delete(target)">x</span>
  </div>
  <div *ngFor="let targetObj of targetStats">
    <div>Progress</div>
    <div class="target">
      <span class="target-info"><b>Site:</b> {{ targetObj.target }}</span>
      <span class="target-info"><b>Requests:</b> {{ targetObj.requests }}</span>
      <span class="target-info"><b>Errors:</b> {{ targetObj.errors }}</span>
    </div>
  </div>
</div>
